
<div>
<div style="text-align: center;">
  <button type="button" class="btn btn-lg" (click)="getAllItems()" style="background-color: black">Menu</button> &nbsp;&nbsp;
  <button type="button" class="btn btn-lg" (click)="getMenu('Adigas')"
    style="background-color: black">Adigas</button> &nbsp;&nbsp;
  <button type="button" class="btn btn-lg" (click)="getMenu('Udipi')"
    style="background-color: black;">Udipi</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-lg" (click)="getMenu('Punjabirasoi')"
    style="background-color: black">Punjabi Rasoi</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-lg" (click)="getMenu('Rotighar')"
    style="background-color: black;">Rotighar</button>&nbsp;&nbsp;
 
</div>
</div>


<div class="container" >
  <div class="row">
    <h2 *ngIf="restaurantName!=''">Menu in {{restaurantName}}</h2><br>
    <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let obj of menu ">
      <div class="card" style="width: 106%;border:0px"><br>
        <img src={{obj.photo}} class="card-img-top" alt="mnb " width="250" height="250">
        <div class="card-body">
          <p class="card-text">
            <b>Category: {{obj.itemType}}<br></b>
            <b>Item Name:</b>{{obj.itemName}}<br>
            <b> Restaurant Name:{{restaurantName}} </b>{{obj.name}}<br>
            <b style="color:green"> {{"₹"+obj.price}} </b>
          </p>
          
            <button *ngIf="getStatus()==true" (click)="total(obj)" (click)="addToCart(obj)" class="btn btn-success btn-sm"
              style="background-color: black;">
              Add to cart
              <i class="large material-icons" style="font-size:25px ;color:rgb(252, 252, 252)">add_shopping_cart</i>
            </button>
              <button *ngIf="getStatus()==false"  class="btn btn-success btn-sm" routerLink="/login"
              style="background-color:black;">
              Add to cart
              <i class="large material-icons" style="font-size:25px ;color:rgb(252, 252, 252)">add_shopping_cart</i>
            </button>
         
        </div>
      </div>
    </div>
  </div>
  <app-homepage></app-homepage>
  